body {

    background: url(img/tic-tac-toe.jpg)no-repeat;
    background-size: 1259px 622px;
}

#setbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#body {
    border: 2px solid black;
    width: 501px;
    height: 500px;
    display: grid;
    grid-template-columns: 167px 167px 167px;
}

.input {
    background-color: rgba(226, 212, 212, 0.611);
    border: 2px solid rgb(131, 128, 128);
    font-size: 100px;
    text-align: center;
    width: 164px;
    height: 163px;
}

.won {
    background-color: rgba(10, 235, 55, 0.611);
    border: 2px solid rgb(131, 128, 128);
    font-size: 100px;
    text-align: center;
    width: 164px;
    height: 163px;
}

#X {
    width: 143px;
    height: 168px;
}

#O {
    width: 143px;
    height: 168px;
}

#reset {
    border: 2px solid green;
    width: 106px;
    height: 40px;
    font-size: 17px;
    background-color: rgba(142, 218, 193, 0.604);
    font-weight: bold;
}

#reset:active {
    background-color: rgb(142, 218, 193);
}


#clr {
    border: 2px solid green;
    width: 106px;
    height: 40px;
    font-size: 17px;
    background-color: rgba(142, 218, 193, 0.604);
    font-weight: bold;
}

#clr:active {
    background-color: rgb(230, 68, 68);
}


#score {
    border: 2px solid black;
    width: 259px;
    height: 103px;
    position: absolute;
    top: 8px;
    right: 32px;
    background-color: antiquewhite;
}

#p1,
#p2 {
    border: 1px solid black;
    width: 123px;
    height: 20px;
    background-color: rgb(82, 69, 69);
    color: rgb(185, 237, 219);
    /* text-align: center; */
}

#p1score,
#p2score {
    border: 1px solid black;
    /* width: 123px; */
    height: 30px;
    /* text-align: center; */
}

#turn-div {
    border: 2px solid black;
    width: 259px;
    height: 36px;
    position: absolute;
    top: 117px;
    right: 32px;
    background-color: #dcd7fa;
    text-align: center;
    /* padding: 10px 10px; */
}

#turn-dec {
    font-size: 25px;
    margin-top: 3px;
}

#won-div {
    border: 2px solid black;
    width: 259px;
    height: 36px;
    position: absolute;
    top: 156px;
    right: 32px;
    background-color: #746f90;
    text-align: center;
    /* padding: 10px 10px; */
}

#won-dec {
    font-size: 25px;
    margin-top: 3px;
}


@media screen and (max-width:821px) {
    body {
        background-size: 1329px 1181px;
    }

    #body {
        margin-top: 228px;
        width: 810px;
        height: 810px;
        grid-template-columns: 270px 269px 167px;
    }

    .input {
        width: 264px;
        height: 264px;
    }
    .won{
            width: 264px;
            height: 264px;
    }

    #reset {
        width: 169px;
        height: 54px;
        font-size: 28px;
    }

    #clr {
        width: 169px;
        height: 54px;
        font-size: 28px;

    }
    #score {
        right: 1px;
    }

    #turn-div {
        right: 1px;
    }

    #won-div {
        right: 1px;
        top: 191px;
        width: 272px;
    height: 42px;
    }
    #O {
        width: 219px;
        height: 219px;
    }
    #X {
        width: 219px;
        height: 219px;
    }
}

@media screen and (max-width:415px) {
    body {
        background-size: 1283px 898px;
    }

    #body {
        margin-top: 216px;
        width: 411px;
        height: 411px;
        grid-template-columns: 135px 136px 142px;
    }

    #score {
        top: 20px;
        right: 65px;
    }

    #turn-div {
        top: 128px;
        right: 65px;
    }

    #won-div {
        top: 184px;
        right: 65px;
    }

    .input {
        width: 134px;
        height: 134px;
    }
    .won {
        width: 134px;
        height: 134px;
    }
    #O {
        width: 121px;
        height: 130px;
    }
    #X {
        width: 121px;
        height: 130px;
    }
    #reset{
    width: 137px;
    height: 48px;
    font-size: 23px;
    }
    #clr{
        width: 137px;
        height: 48px;
        font-size: 23px;
        }
        #won-div {
            width: 260px;
            height: 38px;
        }
}

@media screen and (max-width: 413px) {
    body {

        background: url(img/tic-tac-toe.jpg)no-repeat;
        background-size: 1039px 916px;
    }

    #body {
        width: 408px;
        height: 408px;
        margin-top: 192px;
        grid-template-columns: 136px 136px 119px;

    }

    .input {
        width: 133px;
        height: 133px;
    }
    .won {
        width: 133px;
        height: 133px;
    }

    #score {
        border: 2px solid black;
        width: 259px;
        height: 103px;
        position: absolute;
        top: 11px;
        right: 72px;
        background-color: antiquewhite;
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
    }

    #turn-div {
        border: 2px solid black;
        width: 259px;
        height: 36px;
        position: absolute;
        top: 117px;
        right: 72px;
        background-color: #dcd7fa;
        text-align: center;
        /* padding: 10px 10px; */
    }

    #won-div {
        border: 2px solid black;
        width: 259px;
        height: 36px;
        position: absolute;
        top: 160px;
        right: 72px;
        background-color: #dcd7fa;
        text-align: center;
        /* padding: 10px 10px; */
    }

    #O {
        width: 114px;
        height: 124px;
    }

    #X {
        width: 104px;
        height: 126px;
    }

    /* .won {
        background-color: rgba(10, 235, 55, 0.611);
        border: 2px solid rgb(131, 128, 128);
        font-size: 91px;
        text-align: center;
        width: 133px;
        height: 133px;
    } */
}

@media screen and (max-width:391px) {
    #body {
        width: 388px;
        height: 388px;
        grid-template-columns: 129px 129px 119px;
    }

    .input {
        width: 126px;
        height: 126px;
    }
    .won {
        width: 126px;
        height: 126px;
    }

    #score {
        right: 60px;
    }

    #turn-div {
        right: 60px;
    }

    #won-div {
        right: 60px;
    }
}

@media screen and (max-width:376px) {
    #body {
        width: 374px;
        height: 374px;
        grid-template-columns: 125px 125px 119px;
    }

    .input {
        width: 121px;
        height: 121px;
    }

    .won {
        width: 121px;
        height: 121px;
    }

    #score {
        right: 51px;
    }

    #turn-div {
        right: 51px;
    }

    #won-div {
        right: 51px;
    }
    #reset{
        width: 126px;
    height: 41px;
    font-size: 20px;
    }

    #clr{
        width: 126px;
    height: 41px;
    font-size: 20px;
    }
}